.flexCard {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 20px;
  align-items: center;
}

.card input {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  transition: 1s all;
}

.card input:hover {
  box-shadow: inset 0 -3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* GENERAL */
.img-fluid {
  width: 100%;
  height: auto;
}

.p20 {
  padding: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.m20 {
  margin: 20px;
}

div h1 {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: tahoma;
}

.img20 {
  width: 20%;
  height: auto;
}

.form .inputSubmit {
  height: 40px;
}

/* DESKTOP */
@media (min-width: 1024px) {
  a {
    font-size: 22px;
    color: #000;
  }
  h1 {
    font-size: 35px;
  }
  p, label {
    font-size: 20px;
  }
}
/* TABLET */
@media (min-width: 769px) and (max-width: 1023px) {
  body {
    background-color: green;
  }
}
/* MOBILE */
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  header, footer, ul {
    display: flex;
    flex-direction: row;
  }
  .jCSpaceBetween {
    justify-content: space-between;
  }
  .form form, .datosContacto {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .datosContacto {
    align-items: center;
  }
}
/* MOBILE */
@media (max-width: 768px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }
  li {
    padding: 2px;
    margin: 2px;
  }
  main, footer, header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desaparecer {
    display: none;
  }
  .gridServicios {
    display: flex;
    flex-direction: column;
  }
  .gridContacto, .form form, .datosContacto {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .gridMain {
    display: grid;
    grid-template-areas: "imgPrincipal imgPrincipal imgPrincipal" "encabezado encabezado encabezado" "parrafoIzq imgParrafo parrafoDer";
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto auto;
  }
  .imgPrincipal {
    grid-area: imgPrincipal;
  }
  .encabezado {
    grid-area: encabezado;
  }
  .parrafoIzq {
    grid-area: parrafoIzq;
  }
  .imgParrafo {
    grid-area: imgParrafo;
  }
  .parrafoDer {
    grid-area: parrafoDer;
  }
  .gridRRSS {
    display: grid;
    grid-template-areas: "rrss rrss" "face linke";
    grid-template-columns: 50% 50%;
    grid-template-rows: 22px auto;
  }
  .linke {
    grid-area: linke;
  }
  .face {
    grid-area: face;
  }
  .tituloRRSS {
    grid-area: rrss;
  }
  /* -GRID INDEX- */
  .gridServicios {
    display: grid;
    grid-template-areas: "encServicios encServicios encServicios encServicios" "card1 card2 card3 card4";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto;
  }
  .encabezadoServicios {
    grid-area: encServicios;
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  /* -GRID SERVICIOS- */
  .gridContacto {
    display: grid;
    grid-template-areas: "tituloContacto tituloContacto" "form datosContacto";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
  .tituloContacto {
    grid-area: tituloContacto;
  }
  .form {
    grid-area: form;
  }
  .datosContacto {
    grid-area: datosContacto;
  }
  /* -GRID MAIN CONTACTO */
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

li {
  padding: 20px;
  margin: 20px;
}

.bgPrincipal {
  background-color: lightslategray;
}

.bgLGrey {
  background-color: lightgrey;
}

ul {
  flex-wrap: wrap;
}

.gradienteHeader {
  background-image: linear-gradient(to bottom, lightblue, transparent);
}

.gradienteFooter {
  background-image: linear-gradient(to top, lightblue, transparent);
}

@media (max-width: 768px) {
  h1 {
    transform: translate(-10px, -10px);
  }
}
@media (min-width: 1023px) {
  h1 {
    transform: translate(-10px, -20px);
  }
}
.img-kyrie {
  transform: rotate(60deg);
}

.logoFoo {
  transform: scale(-1, -1);
}

.logo {
  transform: skew(60deg, 20deg);
}

.encabezado {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  transition: height 1s, width 2s, background-color 3s;
}

.encabezado:hover {
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.linke {
  transition: all 2s;
}

.linke:hover {
  transform: translateY(-20px);
}

@keyframes transformacion {
  0% {
    transform: translate(-100px, -100px);
  }
  25% {
    transform: rotate(200deg);
    transform: translate(0, 0);
  }
  50% {
    transform: rotate(0deg);
    transform: scale(2, 2);
  }
  75% {
    transform: scale(1, 1);
    transform: skew(60deg, 100deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
.logo {
  animation-name: transformacion;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h3 {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*# sourceMappingURL=style.css.map */
