// COLORES
$bg-principal: lightblue;
$bg-secundario: orange;
$color: violet;
$black: #000;
$white: #fff;

// FUENTES
$ff-principal: tahoma;
$ff-secundaria: arial;

// TAMAnos
$full-width: 100%;
$half: 50%;
$auto: auto;